@use "../../../main" as *;

.scatter-display {

  position: relative;
  border-radius: $default-radius;
  padding: 0.5rem;

  .scatter-stack {
    height: 100%;
  }

  .scatter-title {
    text-align: center;
    font-size: large;
    font-weight: bold;
  }

  .scatter-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    text-align: center;
    align-content: center;
    font-weight: bold;
    z-index: 1001;
  }

}