@use "../../../main" as *;

.gauge-display {

  position: relative;
  border-radius: $default-radius;
  padding: 0.5rem;

  .gauge-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    text-align: center;
    align-content: center;
    font-size: large;
    font-weight: bold;
    z-index: 1001;
  }

}

