@use "../../../main" as *;

.gauge-display {
  position: relative;
  height: 45vh;
  width: 100%;

  .gauge-overlay {
    position: absolute;
    height: inherit;
    width: 100%;
    padding: 0.5rem;

    .gauge-overlay-content {
      position: relative;
      text-align: center;
      top: 50%;
      font-size: xx-large;
      font-weight: bold;
    }

  }

  .gauge-paper {
    height: inherit;
    border-radius: $default-radius;
    padding: 0.5rem;
  }

}