.input-slider {

  width: auto !important;

  .input-slider-label {
    font-size: medium;
    color: rgba(0, 0, 0, 0.6)
  }

  & .MuiSlider-markLabel[style='left: 0%;'] {
    transform: translateX(0);
  }

  & .MuiSlider-markLabel[style='left: 100%;'] {
    transform: translateX(-100%);
  }

}