.display-configurator {
  margin: 1rem;

  .configurator-paper {
    border-radius: 1em;
    padding: 1rem;


    .configuration-option {
      text-align: center;
      align-content: center;
    }

  }

}