.plot-display {
  position: relative;
  height: 15vh;
  width: 100%;

  .plot-overlay {
    position: absolute;
    height: inherit;
    width: 100%;
    padding: 0.5rem;

    .plot-overlay-content {
      position: relative;
      text-align: center;
      top: 50%;
      color: var(--graph-color);
      h3 {
        margin: 0;
      }
    }

  }

  .plot-paper {
    height: inherit;
    border-radius: 1em;
    padding: 0.5rem;

    .plot-paper-grid {
      height: 100%;
    }

    .plot-title {
      text-align: center;
      color: var(--graph-color);
      h4 {
        margin: 0;
      }
    }

    .plot-graph {

    }

  }

}