@use "../../main" as *;

.speedtest-page {
  height: 100%;
  margin: 1rem;

  .gauge-display {
    .apexcharts-radial-series[seriesName="Download"] path {
      stroke: $fast_test-primary;
    }
    .apexcharts-radial-series[seriesName="Upload"] path {
      stroke: $fast_test-tertiary;
    }
  }

  .latency-display{
    .scatter-title {
      color: $fast_test-secondary;
    }
    .apexcharts-series[seriesName="Latency"] path {
      fill: $fast_test-secondary;
      opacity: .5;
    }
  }

  .download-display{
    .plot-title {
      color: $fast_test-primary;
    }
    .apexcharts-series[seriesName="Download"] path {
      stroke: $fast_test-primary;
      opacity: .5;
    }
  }

  .upload-display{
    .plot-title {
      color: $fast_test-tertiary;
    }
    .apexcharts-series[seriesName="Upload"] path {
      stroke: $fast_test-tertiary;
      opacity: .5;
    }
  }

  .test-trigger{
    text-align: center;

    padding: 1rem;
    width: 100%;
    background-color: $fast_test-primary;
    border-radius: $default-radius;
    font-size: xx-large;
    font-weight: bold;
  }

}
