@use "../../main" as *;

.speedtest-page {
  height: 100%;
  padding: 1rem;

  $gauge-height: 45vh;
  $graph-height: 20vh;

  .gauge-display {

    height: $gauge-height;

    .apexcharts-radial-series[seriesName="Download"] path {
      stroke: $speed_cat-primary;
    }
    .apexcharts-radial-series[seriesName="Upload"] path {
      stroke: $speed_cat-tertiary;
    }
  }

  .latency-display{

    height: $graph-height;

    .scatter-title {
      color: $speed_cat-secondary;
    }
    .apexcharts-series[seriesName="Latency"] path {
      fill: $speed_cat-secondary;
      opacity: .5;
    }
  }

  .download-display{

    height: $graph-height;

    .plot-title {
      color: $speed_cat-primary;
    }
    .apexcharts-series[seriesName="Download"] path {
      stroke: $speed_cat-primary;
      opacity: .5;
    }
  }

  .upload-display{

    height: $graph-height;

    .plot-title {
      color: $speed_cat-tertiary;
    }
    .apexcharts-series[seriesName="Upload"] path {
      stroke: $speed_cat-tertiary;
      opacity: .5;
    }
  }

  .test-trigger{
    text-align: center;

    padding: 1rem;
    width: 100%;
    background-color: $speed_cat-primary;
    border-radius: $default-radius;
    font-size: xx-large;
    font-weight: bold;
  }

}
