@use "../../../main" as *;

.scatter-display {
  position: relative;
  height: 20vh;
  width: 100%;

  .scatter-overlay {
    position: absolute;
    height: inherit;
    width: 100%;
    padding: 0.5rem;

    .scatter-overlay-content {
      position: relative;
      text-align: center;
      top: 50%;
      font-size: xx-large;
      font-weight: bold;
    }

  }

  .scatter-paper {
    height: inherit;
    border-radius: $default-radius;
    padding: 0.5rem;

    .scatter-paper-grid {
      height: 100%;
    }

    .scatter-title {
      text-align: center;
      font-size: x-large;
      font-weight: bold;
    }

  }

}