@use "../../main" as *;

.speedtest-configurator {
  margin: 1rem;

  .configurator-paper {
    border-radius: $default-radius;
    padding: 1rem;

    .configurator-title {
      font-weight: bold;
    }
  }

  .center-align {
    text-align: center;
    align-content: center;
  }

}