@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

$speed_cat-primary: #A14EBF;
$speed_cat-secondary: #8770BF;
$speed_cat-tertiary: #6C91BF;
$speed_cat-active: #5FB0B7;
$speed_cat-disabled: #E9D3D0;

$speed_cat-text-color: #000;
$speed_cat-text-color-on-color: #fff;

html, body, #root {
  height: 100%;
}

.full-width-spacer {
  flex-grow: 1;
}

$default-radius: 1rem;